/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Define variables that can be used throughout the project */
:root 
{
    --header-colour: #fe6565;
    --section-colour: #0c4b9d;
    --text-color: #ffffff;
    --button-hover-colour: #333;
}

/* Styles that apply to all elements on the page */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the html element */
html
{
    font-family: Poppins, Roboto;
    color: var(--text-color)
}


/* Styles for headers since we are going to use them everywhere */
h1, h2, h3
{
    font-family: Merriweather, cursive;
    color: var(--text-color);
}

h1 
{
    font-size: 2.5rem; /* rem means root em, relative to the root element's font size */
}

h2
{
    font-size: 2rem;
}

/* Styles for header and section elements, which are our "containers" */
header, section
{
    /* Spacing around the element*/
    margin: 2em auto; /* top/bottom left/right */
    width: min(75em, 100%); 
    background-color: var(--header-colour);
    /* Spacing inside the element */
    padding: min(2em, 15%); 
    border-radius: 1em;
}

/* Styles for navigation bar */
nav
{
    margin: 1em auto 3em auto; /* top right bottom left */
    width: min(1000px, 100%);
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child
{
    margin-right: auto;
    font-family: Merriweather, Geneva, cursive;
}

nav a 
{
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover
{
    color: var(--section-colour);
}

/* Styles for the elements with class flex-container */
.flex-container
{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} 

/* Styles for the header image */
header img
{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover; /* scales and crops the image to fit into the container */
    object-position: center; /* centers the image within the container */
}

/* Styles for the elements with class text-container */
.text-container
{
    flex: 0 1 34em; /* flex-grow | flex-shrink | flex-basis */
}

.text-container p
{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

/* Styles for download button */
.download-btn
{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--section-colour);
    padding: .75em 1.5em;
    border-radius: .5em;
}

/* Styles for download button hover state */
.download-btn:hover
{
    background-color: var(--button-hover-colour);
}

/* Styles for section element */
section
{
    padding: 3em min(2em , 15%);
    background-color: var(--section-colour);
}

section p 
{
    margin-top: 1em;
    font-size: 1.25rem;
}



